<h2>Goal's Page</h2>

<!-- <h3>Edit {{user}}</h3> -->
<h4>Edit {{user.goals}}</h4>

<!-- <div id="goal-edit">
    <a href="/users/{{goal._id}}/edit">Edit Goal</a>
    <a href="/users/{{user._id}}">Back</a>
</div> -->

<!-- <h2>Edit {{author.name}}</h2>
<form action="/authors/{{author._id}}?_method=PUT" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="{{author.name}}">
  <input type="submit">
</form>
<br>
<div><a href="/authors/{{author._id}}/delete">Delete Author</a></div> -->


<form class="" action="/users/{{user._id}}/edit" method="POST">
  <label>Goal:</label>
  <input type="text" name="name" value="{{user.body}}">
  <input type="submit">
</form>
<br>
<br>

<a href="/users/{{user._id}}">Back to My Page</a>
