<h1>Hello {{user.username}}!</h1>

<!-- <form method="POST" action="/users/user/logout?_method=DELETE">
  <button type="submit" name="Logout">Logout</button>
</form> -->


<h2>Your Goals</h2>

<div>
{{#each user.goals}}
  <div class="goal-show-each">
    <p>Goal:{{body}}</p>
    <form method="post" action="/users/{{../user._id}}/goals/{{_id}}?_method=delete">
        <input type="submit" value="Done!">
    </form>
  </div>
{{/each}}
</div>
<br>
<div id="goal-new">
  <!-- <h3>Add New Goal</h3> -->
    <form action="/users/{{user._id}}/goals" method="post">
        <label>New Goal</label>
        <input type="text" name="body">
        <input type="submit">
    </form>
</div>
<br>
<!-- <div id="goal-show">
    <form action="/goals/{{user._id}}/show-goal" method="post">
        <label>Body</label>
        <input type="submit" value="SHOW">
    </form>
</div> -->


<a id="newGoal" href="/goals/{{user._id}}/show-goal">Show Goal</a>
<!-- {{#each authors}}
    <div class="goal">
        <div class="goalTitle"><a href="/user/{{_id}}">{{name}}</a></div>
            {{#each reminders}}
                <p class="goal">{{body}}</p>
            {{/each}}
            <br>
        </div>
{{/each}} -->

<br>
<br>


<form method="POST" action="user/logout?_method=DELETE">
  <button type="submit" name="Logout">Logout</button>
</form>
