<h2>Hello {{user.username}}!</h2>

<div class="logout">
  <form method="POST" action="user/logout?_method=DELETE">
    <button type="submit" name="Logout">Logout</button>
  </form>
</div>

<div class="user-board">
  <div class="goals-board">
    <h3>Your Goals</h3>
    <div>
    {{#each user.goals}}
      <div class="goal-show-each">
        <p>&#9829 {{body}}: {{goalPoints}} points</p>

        <div class="user-controllers">
          <form action="./{{../user._id}}/show-goal/{{_id}}" method="post">
              <input type="submit" value="Show">
          </form>

          <form method="POST" action="/users/{{../user._id}}/goals/{{_id}}?_method=delete">
              <input type="submit" value="Done">
          </form>
        </div>

      </div>
    {{/each}}
    </div>
    <br>
    <div id="goal-new">
        <form action="/users/{{user._id}}/goals" method="post">
            <!-- <label>New Goal</label><br> -->
            <input type="text" name="body" placeholder="Add new goal">

            <input type="radio" name="goalPoints" value="1"> 1
            <input type="radio" name="goalPoints" value="5"> 5
            <input type="radio" name="goalPoints" value="10"> 10
            <br>
            <input type="submit">
        </form>
    </div>
    <br>
  </div>
</div>



<!-- <h3>Your Goals</h3> -->

<!-- <div>
{{#each user.goals}}
  <div class="goal-show-each">
    <p>&#9829 {{body}} {{goalPoints}}</p> -->

<!-- maybe back -->
<!-- <a href="/goals/{{user._id}}/show-goal">Show Goal</a> -->

<!--
    <form action="./{{../user._id}}/show-goal/{{_id}}" method="post">
        <input type="submit" value="Show">
    </form> -->

    <!-- <form action="./{{../user._id}}/show-goal/1" method="POST">
        <input type="submit" value="Show">
    </form> -->



<!-- This works -->

    <!-- <form method="POST" action="/users/{{../user._id}}/goals/{{_id}}?_method=delete">
        <input type="submit" value="Done">
    </form>
  </div>
{{/each}}
</div>
<br> -->



<!-- <div id="goal-new"> -->
  <!-- <h3>Add New Goal</h3> -->
    <!-- <form action="/users/{{user._id}}/goals" method="post">
        <label>New Goal</label><br>
        <input type="text" name="body">

        <input type="radio" name="goalPoints" value="1"> 1
        <input type="radio" name="goalPoints" value="5"> 5
        <input type="radio" name="goalPoints" value="10"> 10

        <br>
        <input type="submit">
    </form>
</div>
<br> -->


<!-- <a id="newGoal" href="/goals/{{user._id}}/show-goal">Show Goal</a> -->
<!-- {{#each authors}}
    <div class="goal">
        <div class="goalTitle"><a href="/user/{{_id}}">{{name}}</a></div>
            {{#each reminders}}
                <p class="goal">{{body}}</p>
            {{/each}}
            <br>
        </div>
{{/each}} -->

<!-- <br>
<br>

<form method="POST" action="user/logout?_method=DELETE">
  <button type="submit" name="Logout">Logout</button>
</form> -->
